<%= form_with(model: @note, local: true) do |form| %>
  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :time %>
    <%= form.time_field :time %>
  </div>


  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
